.btn{
    color: #fff;
    background-color: inherit;
    border: 0;
    
}

.btn-header
{
    margin-right: 50px;
}

.btn-header:hover {
    border-bottom: #fe7467;
    border-bottom-style: groove;
}