.header{
    margin: 8px;
    background-color: aquamarine;

}


/*.header-fungo-spider{
    object-fit: cover;
    object-position: 100%;
    z-index: -2;
    
}*/

.header-descritivo{
    display: flex;
    flex-direction: row;
}
.header-logo
{
    justify-content: left;
    flex: 10%;
    padding-top: 15px;
}

.header-buttom-nav
{
    flex: 90%;
    flex-grow: 1;
    justify-content:center;
    align-content: center;
    padding-top: 15px;
    

    
}