/*clearfix*/
.header::after
{
    content: '';
    clear: both;
    display: table;
}

.header{
    margin: 8px;
    background-image: url(../imagens/spidermanheader.jpg);
    height: 650px;
    background-size: cover;
    background-position: center;
}

.header-descritivo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-logo
{
    padding-top: 15px;
}

.header-nav
{
    flex: 2 1 auto;
    padding-top: 15px;
    
}

.header-button-nav 
{
    width: fit-content;
    margin-left: 100px;
    margin-right: auto;
}


