.btn
{
    color: #fff;
    background-color: inherit;
    border: 0;
    font: bold;
}

.btn-header
{
    margin-right: 50px;
}

.btn-header:hover 
{
    border-bottom: #fe7467;
    border-bottom-style: solid;
    
}

.btn-catalogo{
    color: #fff;
    background-color: #fc3836;
    padding: 10px;
    border-radius: 10px;    
}

.btn-catalogo-pagina{
    cursor: pointer;
    padding: 5px;
}